# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Quizzes/Quiz 4/Turn-based Combat/.vs/Turn-based Combat/v17/ipch/AutoPCH/bc5a332c1ae1569c/UNIT.ipch
Quizzes/Quiz 4/Turn-based Combat/.vs/Turn-based Combat/v17/ipch/AutoPCH/bc5a332c1ae1569c/UNIT.ipch
Quizzes/Quiz 4/Turn-based Combat/.vs/Turn-based Combat/v17/ipch/AutoPCH/bc5a332c1ae1569c/UNIT.ipch
Quizzes/Quiz 4/Turn-based Combat/.vs/Turn-based Combat/v17/ipch/AutoPCH/7090a3289a06b18c/SKILLMULTI.ipch
*.ipch
*.ipch
*.ipch
*.ipch
Quizzes/Quiz 4/Turn-based Combat/.vs/Turn-based Combat/v17/ipch/AutoPCH/67ef3c699f4f8e0f/SKILLHEAL.ipch
*.ipch
